*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain light';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    /* background-color: white; */
    border: 1px solid #ffffffbe;
    mix-blend-mode: difference;
    position: fixed;
    z-index: 999;
    transform: translate(-50%,-50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;

}

.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* background-color: red; */
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;

}

.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    /* animation-name: anime; */
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
    

}


#main{
    position: relative;
    background: #151515;
}


#page1{
    height: 100vh;
    width: 100%;
    /* background: #151515; */
    position: relative;
    z-index: 100;

}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 0.8vw;

}

.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;

}

#hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    left: -10%;
    top: 29%;
    font-family: 'silk serif';
}


.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    position: relative;
}

.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw; */
    /* transition: all ease 0.3s; */
}

.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
}

#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-cursor{
    background-color: #ffa63d;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#video-cursor i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: #030303; */
    position: relative;
    padding: 17vh 2vw;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw; 
}

#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    left: -12%;
    top: 8%;
    font-family: 'silk serif';
}

#page3 .underline{
    margin-left: 28vw;
}

#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-div{
    height: 42vw;
    width: 32vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 1vw;
    /* background-color: blue; */
}

.image-div:nth-child(1){
    height: 29vw;
    width: 21vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-top: 23vh;
}

.page3-circle1 svg{
    height: 30%;
}
.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 3vw;
}

.page3-circle2 svg{
    height: 30%;
    rotate: 310deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: all ease 0.5s;
    border-radius: 50%;
}

.circle-in p{
    font-size: 0.95vw;
    color: #000;
    width: 60%;
    font-weight: 500;
    scale: 0;
    transition-delay: 0.5s;
    transition: all ease 0.3s;
    opacity: 0;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}

.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}

.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}

#page4{
    min-height: 100vh;
    width: 100%;  
    position: relative;
    padding: 7vh 0;
}

#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28%;
}

#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    left: -12%;
    top: 1%;
    font-family: 'silk serif';
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;    
}

#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;

}

#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex {
    display: flex;
}

#page4-flex img{
    width: 48%;
}

#page4-flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1vw;
}

#page4-blue-div{
    background-color: #3f7df4;
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 26vw;
}

.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw 0;
    border-bottom:  2px solid #ffffff94;
}

.blue-div-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}

.blue-div-elem p{
    width: 40%;
    font-size: 0.7vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vw;
}

.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: marque;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes marque {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(calc(-100% - 20px));
    }
}


.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vw;
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    transform: translateX(calc(-100% - 20px));
    animation-name: marque;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.elem span{
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
}

#footer{
    height: 85vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}

#footer h1{
    font-size: 7vw;
    /* background-color: blue; */
    text-transform: uppercase;
    position: relative;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    left: -12%;
    top: 8%;
    font-family: 'silk serif';
}

.underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 2vw 0;
}

#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 3vw;
}

#footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

#footer-div h5{
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0.1vh 0;
}

#footer>h5{
    font-weight: 500;
    font-size: 1vw;
}

._canvas_container{
    z-index: 999999 !important; 
    pointer-events: none;
}